*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 50%;
}
img{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}